Repository Irisvella/InventoryPilot, pull requests merged in 2025-01, with the labels that each got.

#119 Inventory stock levels
  WarehousePilot_app/backend/backend/settings.py
  WarehousePilot_app/backend/inventory/urls.py
  WarehousePilot_app/backend/inventory/views.py
  WarehousePilot_app/frontend/package-lock.json
  WarehousePilot_app/frontend/package.json
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/add-item-form.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/data.tsx
  WarehousePilot_app/frontend/src/components/notifications/notifications-card/App.tsx
  WarehousePilot_app/frontend/src/components/notifications/notifications-card/index.tsx
  WarehousePilot_app/frontend/src/components/notifications/notifications-card/notification-item.tsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: management dashboard, user story, frontend, backend

#130 Edit delete user - UI updates - #101
  WarehousePilot_app/frontend/package.json
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/App.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/Status.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/arrow-down.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/arrow-up.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/copy-text.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/danger-circle.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/data.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/default-circle.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/delete.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/edit.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/eye.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/index.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/success-circle.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/types.ts
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/use-memoized-callback.ts
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/warning-circle.tsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: management dashboard, frontend

#120 New Potential sidebar
  WarehousePilot_app/backend/inventory/tests.py
  WarehousePilot_app/backend/inventory/views.py
  WarehousePilot_app/frontend/babel.config.cjs
  WarehousePilot_app/frontend/jest.config.cjs
  WarehousePilot_app/frontend/package-lock.json
  WarehousePilot_app/frontend/package.json
  WarehousePilot_app/frontend/src/components/admin_manage_users/ManageUsersPage.jsx
  WarehousePilot_app/frontend/src/components/dashboard/AccountManagement.jsx
  WarehousePilot_app/frontend/src/components/dashboard/Dashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/KpiDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/__tests__/AccountManagement.test.jsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/App.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/csf.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/index.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/sidebar-items.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/sidebar.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/styles.css
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/types.ts
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/navbar/App.tsx
  WarehousePilot_app/frontend/src/components/navbar/index.tsx
  WarehousePilot_app/frontend/src/components/navbar/types.ts
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: frontend

#131 Generate inventory and manu lists for an order
  WarehousePilot_app/backend/orders/tests.py
  WarehousePilot_app/backend/orders/urls.py
  WarehousePilot_app/backend/orders/views.py
Labels: order fulfilment process, backend, testing

#132 Sidebar bug updates
  WarehousePilot_app/backend/inventory/views.py
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/App.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/sidebar-items.tsx
Labels: bug, management dashboard, admin dashboard

#134 Sidebar added with updated routes
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/App.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: admin dashboard

#122 Inventory Stock levels tests completed
  WarehousePilot_app/backend/inventory/tests.py
  WarehousePilot_app/backend/inventory/views.py
  WarehousePilot_app/frontend/jest.config.cjs
  WarehousePilot_app/frontend/package-lock.json
  WarehousePilot_app/frontend/package.json
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/App.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/sidebar-items.tsx
Labels: frontend, testing

#167 added basic QA Dashboard frontend and backend
  WarehousePilot_app/backend/backend/settings.py
  WarehousePilot_app/backend/backend/urls.py
  WarehousePilot_app/backend/qa_dashboard/__init__.py
  WarehousePilot_app/backend/qa_dashboard/admin.py
  WarehousePilot_app/backend/qa_dashboard/apps.py
  WarehousePilot_app/backend/qa_dashboard/migrations/__init__.py
  WarehousePilot_app/backend/qa_dashboard/models.py
  WarehousePilot_app/backend/qa_dashboard/tests.py
  WarehousePilot_app/backend/qa_dashboard/urls.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard/QADashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/index.js
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: frontend, backend

#164 Implemented a NavBar for frontend navigation
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/App.tsx
  WarehousePilot_app/frontend/src/components/dashboard/AccountManagement.jsx
  WarehousePilot_app/frontend/src/components/dashboard/Dashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/App.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/navbar/App.tsx
Labels: frontend

#169 Project is now successfully deployed
  .github/workflows/continuousIntegration.yml
  .gitignore
  WarehousePilot_app/frontend/.gitignore
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/data.tsx
  WarehousePilot_app/frontend/src/components/authentication/Login.jsx
  WarehousePilot_app/frontend/src/components/dashboard/AccountManagement.jsx
  WarehousePilot_app/frontend/src/components/dashboard/AdminDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/ChangePassword.jsx
  WarehousePilot_app/frontend/src/components/dashboard/ManagerDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/StaffDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/StockLevelsPreview.jsx
  WarehousePilot_app/frontend/src/components/dashboard/UseForm.jsx
  WarehousePilot_app/frontend/src/components/inventory-stock/add-item-form.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/data.tsx
  WarehousePilot_app/frontend/src/components/notifications/notifications-card/App.tsx
  WarehousePilot_app/frontend/src/components/orders/AssignedPickList.jsx
  WarehousePilot_app/frontend/src/components/orders/InventoryPickListItem.jsx
  WarehousePilot_app/frontend/src/components/orders/InventoyPickList.jsx
  WarehousePilot_app/frontend/src/components/orders/ManufacturingList.jsx
  WarehousePilot_app/frontend/src/components/orders/ManufacturingListItem.jsx
  WarehousePilot_app/frontend/src/components/orders/OrderListView.jsx
  WarehousePilot_app/frontend/src/global.d.ts
  WarehousePilot_app/frontend/tsconfig.json
  WarehousePilot_app/frontend/vercel.json
  WarehousePilot_app/frontend/vite.config.js
  package-lock.json
  package.json
Labels: epic, frontend, backend

#175 Manufacturing List QA View
  WarehousePilot_app/backend/qa_dashboard/urls.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/sidebar-items.tsx
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: frontend, backend

#182 Updated QA Tasks table with checkboxes and error reporting
  WarehousePilot_app/backend/manufacturingLists/migrations/0009_qaerrorreport.py
  WarehousePilot_app/backend/manufacturingLists/models.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
Labels: frontend, backend

#193 Added Logo to SideBar
  WarehousePilot_app/frontend/.gitignore
  WarehousePilot_app/frontend/src/components/authentication/Login.jsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/App.tsx
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/csf.tsx
Labels: frontend

#200 Task #107 limit page view by role
  WarehousePilot_app/backend/admin_dashboard/admin.py
  WarehousePilot_app/backend/admin_dashboard/migrations/0001_initial.py
  WarehousePilot_app/backend/admin_dashboard/migrations/0002_remove_dashboardsettings_user_and_more.py
  WarehousePilot_app/backend/admin_dashboard/models.py
  WarehousePilot_app/backend/admin_dashboard/serializers.py
  WarehousePilot_app/backend/admin_dashboard/urls.py
  WarehousePilot_app/backend/admin_dashboard/views.py
  WarehousePilot_app/backend/auth_app/migrations/0004_alter_users_role.py
  WarehousePilot_app/backend/auth_app/models.py
  WarehousePilot_app/backend/auth_app/serializers.py
  WarehousePilot_app/backend/auth_app/urls.py
  WarehousePilot_app/backend/auth_app/views.py
  WarehousePilot_app/backend/inventory/serializers.py
  WarehousePilot_app/backend/inventory/tests.py
  WarehousePilot_app/backend/inventory/urls.py
  WarehousePilot_app/backend/inventory/views.py
  WarehousePilot_app/backend/manager_dashboard/urls.py
  WarehousePilot_app/backend/manager_dashboard/views.py
  WarehousePilot_app/backend/manufacturingLists/tests.py
  WarehousePilot_app/backend/manufacturingLists/views.py
  WarehousePilot_app/backend/orders/views.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard/AddUsersDashboard.jsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
  WarehousePilot_app/frontend/src/components/routes/protected_routes.jsx
Labels: frontend, backend, testing

#269 Finalizing QA task according to verification
  WarehousePilot_app/backend/qa_dashboard/urls.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/authentication/Login.jsx
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
Labels: frontend, backend

#279 Admin Manufacturing Tasks view
  WarehousePilot_app/frontend/src/components/manufacturing/ManufacturingTasks/manu-tasks/data.tsx
Labels: admin dashboard

#277 Qa manufacturing list
  WarehousePilot_app/backend/qa_dashboard/urls.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/sidebar-items.tsx
  WarehousePilot_app/frontend/src/components/orders/QAErrorListview.jsx
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: frontend, backend
