Repository Irisvella/InventoryPilot, pull requests merged in 2025-02, with the labels that each got.

#283 Final QA Integration
  WarehousePilot_app/backend/qa_dashboard/urls.py
  WarehousePilot_app/backend/qa_dashboard/views.py
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
Labels: frontend, backend

#219 inventorypicklist view unit test #201
  WarehousePilot_app/backend/admin_dashboard/tests.py
  WarehousePilot_app/backend/admin_dashboard/views.py
  WarehousePilot_app/backend/auth_app/tests.py
  WarehousePilot_app/backend/manufacturingLists/tests.py
  WarehousePilot_app/backend/orders/tests.py
  WarehousePilot_app/backend/orders/views.py
  WarehousePilot_app/backend/staff_dashboard/views.py
Labels: backend, testing

#296 Add Filtering Options to QA Tasks and Error Reports Pages
  WarehousePilot_app/frontend/src/components/orders/QAErrorListview.jsx
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
Labels: frontend

#300 Add tests for QA Dashboard Endpoints #299
  WarehousePilot_app/backend/qa_dashboard/tests.py
Labels: backend, testing

#292 Backend API for Cycle Time Per Order
  WarehousePilot_app/backend/orders/urls.py
  WarehousePilot_app/backend/orders/views.py
Labels: user story task, backend

#302 Kpi dashboard template
  WarehousePilot_app/backend/backend/settings.py
  WarehousePilot_app/backend/backend/urls.py
  WarehousePilot_app/backend/kpi_dashboard/__init__.py
  WarehousePilot_app/backend/kpi_dashboard/admin.py
  WarehousePilot_app/backend/kpi_dashboard/apps.py
  WarehousePilot_app/backend/kpi_dashboard/models.py
  WarehousePilot_app/backend/kpi_dashboard/tests.py
  WarehousePilot_app/backend/kpi_dashboard/urls.py
  WarehousePilot_app/backend/kpi_dashboard/views.py
  WarehousePilot_app/frontend/package-lock.json
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/App.tsx
  WarehousePilot_app/frontend/src/components/authentication/Login.jsx
  WarehousePilot_app/frontend/src/components/authentication/authentication.css
  WarehousePilot_app/frontend/src/components/dashboard/AccountManagement.jsx
  WarehousePilot_app/frontend/src/components/dashboard/AddUsersDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/ChangePassword.jsx
  WarehousePilot_app/frontend/src/components/dashboard/KpiDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/OrderPickingAccuracy.jsx
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/danger-circle.tsx
  WarehousePilot_app/frontend/src/components/manufacturing/ManufacturingTasks/manu-tasks/App.tsx
  WarehousePilot_app/frontend/src/components/manufacturing/StaffManufacturingTasks.jsx
  WarehousePilot_app/frontend/src/components/navbar/App.tsx
  WarehousePilot_app/frontend/src/components/navbar/navbar.css
  WarehousePilot_app/frontend/src/components/orders/InventoryPickListItem.jsx
  WarehousePilot_app/frontend/src/components/orders/InventoyPickList.jsx
  WarehousePilot_app/frontend/src/components/orders/ManufacturingList.jsx
  WarehousePilot_app/frontend/src/components/orders/OrderListView.jsx
  WarehousePilot_app/frontend/src/components/orders/QAErrorListview.jsx
  WarehousePilot_app/frontend/src/components/orders/QAtasks.css
Labels: management dashboard, user story task, frontend, backend

#301 Resolving Bug #155
  WarehousePilot_app/backend/orders/views.py
Labels: bug, order fulfilment process, backend, refactoring

#311 Order Picking accuracy
  WarehousePilot_app/backend/inventory/migrations/0013_inventorypicklistitem_picked_at.py
  WarehousePilot_app/backend/inventory/models.py
  WarehousePilot_app/backend/inventory/views.py
  WarehousePilot_app/backend/kpi_dashboard/urls.py
  WarehousePilot_app/backend/kpi_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard/KpiDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/OrderPickingAccuracy.jsx
  WarehousePilot_app/frontend/src/components/dashboard/OrderPickingPage.jsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: frontend, backend

#314 Barcode implementation and other issues
  WarehousePilot_app/frontend/package-lock.json
  WarehousePilot_app/frontend/package.json
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/add-item-form.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/data.tsx
Labels: admin dashboard
