Repository Irisvella/InventoryPilot, pull requests merged in 2025-03, with the labels that each got.

#315 Fixing Cycle Time Per Order Backend API
  WarehousePilot_app/backend/orders/views.py
Labels: user story task, backend

#318 Created alert for incomplete or incorrect picks for order picking accuracy
  WarehousePilot_app/frontend/src/components/orders/InventoryPickListItem.jsx
Labels: user story task

#320 Quick UI update for loading screens
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/manufacturing/ManufacturingTasks/manu-tasks/App.tsx
  WarehousePilot_app/frontend/src/components/orders/OrderListView.jsx
Labels: frontend

#328 Add Active and Completed Orders to KPI Dashboard
  WarehousePilot_app/backend/kpi_dashboard/urls.py
  WarehousePilot_app/backend/kpi_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard/KpiDashboard.jsx
Labels: frontend, backend

#348 Add Active Orders Details Page
  WarehousePilot_app/backend/kpi_dashboard/urls.py
  WarehousePilot_app/backend/kpi_dashboard/views.py
  WarehousePilot_app/frontend/src/components/dashboard/ActiveOrdersDetails.jsx
  WarehousePilot_app/frontend/src/components/dashboard/KpiDashboard.jsx
  WarehousePilot_app/frontend/src/components/routes/dashboard_routes.jsx
Labels: frontend, backend

#349 Cycle time per order connection
  WarehousePilot_app/backend/orders/migrations/0007_orderpart_packed_timestamp_and_more.py
  WarehousePilot_app/backend/orders/migrations/0008_merge_20250322_2207.py
  WarehousePilot_app/backend/orders/migrations/0009_remove_orders_pack_complete_timestamp_and_more.py
  WarehousePilot_app/backend/orders/models.py
  WarehousePilot_app/backend/orders/urls.py
  WarehousePilot_app/backend/orders/views.py
  WarehousePilot_app/frontend/src/components/kpis/CTPO/CTPO_main.jsx
  WarehousePilot_app/frontend/src/components/kpis/CTPO/DelayedOrderAlerts/App.tsx
  WarehousePilot_app/frontend/src/components/kpis/CTPO/DelayedOrderAlerts/index.tsx
  WarehousePilot_app/frontend/src/components/kpis/CTPO/DelayedOrderAlerts/notification-item.tsx
  WarehousePilot_app/frontend/src/components/kpis/CTPO/progressbar.jsx
Labels: management dashboard, frontend, backend, admin dashboard, refactoring

#363 dark mode
  WarehousePilot_app/backend/auth_app/migrations/0005_users_theme_preference.py
  WarehousePilot_app/backend/auth_app/models.py
  WarehousePilot_app/backend/auth_app/urls.py
  WarehousePilot_app/backend/auth_app/views.py
  WarehousePilot_app/frontend/public/vite.svg
  WarehousePilot_app/frontend/src/App.jsx
  WarehousePilot_app/frontend/src/components/ThemeSwitcher.tsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/ManageUsersPage.jsx
  WarehousePilot_app/frontend/src/components/admin_manage_users/manage_users_table/App.tsx
  WarehousePilot_app/frontend/src/components/authentication/Login.jsx
  WarehousePilot_app/frontend/src/components/authentication/authentication.css
  WarehousePilot_app/frontend/src/components/dashboard/AccountManagement.jsx
  WarehousePilot_app/frontend/src/components/dashboard/ActiveOrdersDetails.jsx
  WarehousePilot_app/frontend/src/components/dashboard/AddUsersDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/AdminDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/ChangePassword.jsx
  WarehousePilot_app/frontend/src/components/dashboard/Dashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/KpiDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/ManagerDashboard.jsx
  WarehousePilot_app/frontend/src/components/dashboard/OrderPickingAccuracy.jsx
  WarehousePilot_app/frontend/src/components/dashboard/OrderPickingPage.jsx
  WarehousePilot_app/frontend/src/components/dashboard/UseForm.jsx
  WarehousePilot_app/frontend/src/components/dashboard/dashboard.css
  WarehousePilot_app/frontend/src/components/dashboard_sidebar1/App.tsx
  WarehousePilot_app/frontend/src/components/inventory-stock/App.tsx
  WarehousePilot_app/frontend/src/components/kpis/OrderFulfillmentBarChart.jsx
  WarehousePilot_app/frontend/src/components/kpis/OrderFulfillmentChart.jsx
  WarehousePilot_app/frontend/src/components/kpis/OrderFulfillmentDashboard .jsx
  WarehousePilot_app/frontend/src/components/kpis/OrderFulfillmentPreview.jsx
  WarehousePilot_app/frontend/src/components/kpis/OrderFulfillmentTable.jsx
  WarehousePilot_app/frontend/src/components/kpis/throughput-threshold/throughput-current-week-donut-chart.jsx
  WarehousePilot_app/frontend/src/components/kpis/throughput-threshold/throughput-graph.jsx
  WarehousePilot_app/frontend/src/components/kpis/throughput-threshold/throughput-table.jsx
  WarehousePilot_app/frontend/src/components/kpis/throughput-threshold/throughput-threshold-kpi-preview.jsx
  WarehousePilot_app/frontend/src/components/kpis/throughput-threshold/throughtput-threshold-dashboard.jsx
  WarehousePilot_app/frontend/src/components/manufacturing/ManufacturingTasks/manu-tasks/App.tsx
  WarehousePilot_app/frontend/src/components/navbar/App.tsx
  WarehousePilot_app/frontend/src/components/orders/InventoyPickList.jsx
  WarehousePilot_app/frontend/src/components/orders/OrderListView.jsx
  WarehousePilot_app/frontend/src/components/orders/QAErrorListview.jsx
  WarehousePilot_app/frontend/src/components/orders/QAtasks.jsx
  WarehousePilot_app/frontend/src/context/ThemeContext.jsx
  WarehousePilot_app/frontend/src/index.css
  WarehousePilot_app/frontend/src/main.jsx
  WarehousePilot_app/frontend/tailwind.config.cjs
Labels: user story task, frontend
